/* Parent container to center everything */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.center-content{
  text-align: center;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}



/* Login box */
.form-box {
  display: flex;
  flex-direction: column; 
  gap: 20px;               /* space between inputs/buttons */
  width: 400px;            /* increase width of the box */
  padding: 40px;           /* increase padding */
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* Input fields */
input {
  padding: 12px 15px;      /* increase height of inputs */
  font-size: 18px; 
  border-radius:8px;         /* bigger text */
  border: 1px solid rgb(24, 2, 2);
}

button {
    margin-right: auto;
   padding: 12px 30px;      
   font-size: 20px;
   border-radius: 8px;
   border: 2px solid rgb(48, 48, 232);
   background-color: rgb(81, 81, 205);
   color: white;
   cursor: pointer;
} 
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.actions{
  margin-top: 40px;
  margin-bottom: 0.1px;
  text-align: center;
   
}


.login-actions {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-right: auto;

}

.register-link,.forgot-link{
  color:blue;
  text-decoration: underline;
  cursor: pointer;
  font-size:0.9rem;   
}

