/* ================= ROOT APP ================= */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Remove template demo styles */
.logo,
.card,
.read-the-docs {
  display: none;
}